@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rosybrown;
  background-image: url("sunset.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
}

body header .header-link {
  padding-left: 15px;
  text-decoration: unset;
  color: white;
  padding-left: 15px;
}

body header .header-link:nth-child(2) {
  padding-right: 15px;
}

body header .header-link:hover {
  text-decoration: underline;
}

body header .apps-icon {
  height: 22px;
  width: auto;
  margin: 0 20px 0 15px;
  fill: currentColor;
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.8;
  cursor: pointer;
}

body header .img-profile {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

body .logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 238px;
}

body .logo-container .main-logo {
  width: 272px;
  height: 92px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg");
  margin: auto;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

body .input-container {
  letter-spacing: normal;
  word-spacing: normal;
  width: 80%;
  min-width: 300px;
  max-width: 580px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .input-container:before {
  content: ' ';
  background-image: url("https://img.icons8.com/ios/24/000000/search--v1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  position: absolute;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  cursor: pointer;
}

body .input-container:after {
  content: ' ';
  background-image: url("https://img.icons8.com/material-rounded/24/000000/microphone.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  position: absolute;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  right: 5px;
  cursor: pointer;
}

body .input-container #search {
  font-size: 16px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 22px;
  height: 44px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

body .input-container #search:focus {
  outline: none;
}

body .input-container #search:focus::-webkit-input-placeholder {
  color: transparent;
}

body .input-container #search:focus:-ms-input-placeholder {
  color: transparent;
}

body .input-container #search:focus::-ms-input-placeholder {
  color: transparent;
}

body .input-container #search:focus::placeholder {
  color: transparent;
}

body .last-visited-grid {
  width: 100%;
  max-width: 580px;
  margin: auto;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(116px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(116px, 1fr));
  grid-auto-rows: 116px;
}

body .last-visited-grid .app {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  cursor: pointer;
}

body .last-visited-grid .app span {
  font-weight: 500;
  font-size: 12px;
  color: white;
}

body .last-visited-grid .app:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

body .last-visited-grid .app:hover::before {
  content: '\22EE';
  color: white;
  font-size: 20px;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 5px;
  -webkit-animation: fadeIn 0.2s ease-in-out;
          animation: fadeIn 0.2s ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (max-width: calc(116px* 5)) {
  body .last-visited-grid .app.amazon {
    display: none;
  }
  body .last-visited-grid .app.apple {
    display: none;
  }
}

@media only screen and (max-width: calc(116px* 4)) {
  body .last-visited-grid .app.instagram {
    display: none;
  }
  body .last-visited-grid .app.github {
    display: none;
  }
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

body footer a {
  color: white;
  font-size: small;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
}

body footer a .link-icon {
  padding-right: 5px;
  width: 18px;
  height: 18px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

body footer .edit-icon {
  position: fixed;
  width: 16px;
  height: 16px;
  padding: 5px;
  right: 15px;
  bottom: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
  border-radius: 50%;
}

body footer .edit-icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */