@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rosybrown;
  background-image: url("sunset.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  header {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    align-items: center;
    font-size: small;
    .header-link {
      padding-left: 15px;
      text-decoration: unset;
      color: white;
      padding-left: 15px;

      &:nth-child(2) {
        padding-right: 15px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .apps-icon {
      height: 22px;
      width: auto;
      margin: 0 20px 0 15px;
      fill: currentColor;
      filter: invert(1);
      opacity: 0.8;
      cursor: pointer;
    }
    .img-profile {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      cursor: pointer;
      background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
      border-radius: 50%;
      cursor: pointer;
      background-position: center;
      background-size: cover;
    }
  }
  .logo-container {
    width: 100%;
    display: flex;
    height: 238px;
    .main-logo {
      width: 272px;
      height: 92px;
      background: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg");
      margin: auto;
      filter: brightness(0) invert(1);
    }
  }

  .input-container {
    letter-spacing: normal;
    word-spacing: normal;
    width: 60%;
    min-width: 420px;
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    position: relative;
    &:before {
      content: " ";
      background-image: url("https://img.icons8.com/ios/24/000000/search--v1.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 44px;
      height: 44px;
      position: absolute;
      transform: scale(0.7);
      cursor: pointer;
    }
    &:after {
      content: " ";
      background-image: url("https://img.icons8.com/material-rounded/24/000000/microphone.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 44px;
      height: 44px;
      position: absolute;
      transform: scale(0.9);
      right: 5px;
      cursor: pointer;
    }
    #search {
      font-size: 16px;
      width: 100%;
      align-self: center;
      border-radius: 22px;
      height: 44px;
      border: none;
      box-sizing: border-box;
      padding-left: 40px;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      &:focus {
        outline: none;
      }
    }
  }
  footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    a {
      color: white;
      font-size: small;
      font-family: "Roboto";
      display: flex;
      align-items: center;
      .link-icon {
        padding-right: 5px;
        width: 18px;
        height: 18px;
        filter: invert(1);
      }
    }
    .edit-icon {
      position: fixed;
      width: 16px;
      height: 16px;
      padding: 5px;
      right: 15px;
      bottom: 15px;
      filter: invert(1);
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
