@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rosybrown;
  background-image: url("sunset.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
}

body header .header-link {
  font-family: "Roboto";
  padding-left: 15px;
  text-decoration: unset;
  color: white;
  padding-left: 15px;
}

body header .header-link:nth-child(2) {
  padding-right: 15px;
}

body header .header-link:hover {
  text-decoration: underline;
}

body header .apps-icon {
  height: 25px;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.87);
  fill: currentColor;
  cursor: pointer;
}

body header .img-profile {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

body .logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 238px;
}

body .logo-container .main-logo {
  width: 272px;
  height: 92px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg");
  margin: auto;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

body .input-container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .input-container:before {
  content: " ";
  background-image: url("https://img.icons8.com/ios/24/000000/search--v1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  position: absolute;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  cursor: pointer;
}

body .input-container:after {
  content: " ";
  background-image: url("https://img.icons8.com/material-rounded/24/000000/microphone.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  position: absolute;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  position: absolute;
  right: 0;
  cursor: pointer;
}

body .input-container #search {
  min-width: 410px;
  max-width: 584px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 22px;
  height: 44px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
}

body .input-container #search:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */